# Environment variables
# You need to provide either username and password
SPEECH_TO_TEXT_USERNAME=
SPEECH_TO_TEXT_PASSWORD=
# OR IAM API key and URL
SPEECH_TO_TEXT_IAM_APIKEY=
SPEECH_TO_TEXT_IAM_URL=
# Service URL
SPEECH_TO_TEXT_URL=https://stream.watsonplatform.net/speech-to-text/api