div.modal.feedback-modal
  div.main-container.form
    form#feedback(method='POST', action='feedback')
      div.col-lg-12.main
        div.feedback-form
          h2 Help us improve our service.
          p How well did this service perform?
          div.radios
            label.bad Bad
            input(id='rating-1', type='radio', name='score', value='1')
            label(for='rating-1').rating 1
            input(id='rating-2', type='radio', name='score', value='2')
            label(for='rating-2').rating 2
            input(id='rating-3', required, type='radio', name='score', value='3')
            label(for='rating-3').rating 3
            input(id='rating-4', type='radio', name='score', value='4')
            label(for='rating-4').rating 4
            input(id='rating-5', type='radio', name='score', value='5')
            label(for='rating-5').rating 5
            label.good Good
          p Any other thoughts?
          textarea(name='text').form-control
          input.service_request(type='hidden', name='service_request', value='')
          input.service_response(type='hidden', name='service_response', value='')
          div.btn-container
            input(value='Cancel').cancel.btn
            input(type='submit', value='Submit').submit.btn
        div.feedback-loading.wizard
          h2 Processing...
          div.img-container
            img(src='images/watson.gif')
        div.feedback-submitted.wizard
          h2 Thank you for your feedback!
          p We look forward to hearing what you have to say
          div.btn-container
            input(value='Return to Demo').cancel.return-to-demo.btn
        div.feedback-error.wizard
          h2 It looks like your feedback did not go through.
          p Sorry about that, please try again.
          div.btn-container
            input.cancel.btn.return-to-demo(value='Return to Demo')

script(type='text/javascript', src='/js/feedback.js')
