/* css_browser_selector styles */
.win * {
	font-family: Arial, sans-serif;
}
.win .navbar-brand {
	font-family: Arial;
	font-weight: bold;
}
.win .thin-branding {
	font-family: Arial;
}
.win pre,
.win code,
.win kbd,
.win samp,
.win pre *,
.win code *,
.win kbd *,
.win samp * {
	font-family: Menlo, "Menlo", Monaco, Consolas, "Courier New", monospace;
}

.win .fixed-nav {
    font-family: Arial;
}