.col-lg-12 {
  padding: 0px!important;
}
.col-md-12 {
  padding: 0px!important;
}
.col-sm-12 {
  padding: 0px!important;
}

.row {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.navbar {
  cursor: pointer;
}

.navbar-text {
  overflow: hidden;
  white-space: nowrap;
  margin:0;
  padding: 0;
}

.nav-inverse-color {
  padding: 5px 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  float: left;
}

@media (min-width: 500px) {
  .nav-inverse-color {
    width: 50%;
  }
}

@media (min-width: 730px) {
  .nav-inverse-color {
    width: 25%;
  }
}

@media screen and (max-width : 500px) {
  .service-icon {
    display: none;
  }
}

input[type="radio"], input[type="checkbox"] {
  margin: 1em 1em 1em 0;
  margin-top: 1px \9;
  line-height: normal;
}

.alt-hypothesis {
  margin-top: 2em;
}
.alt-hypothesis > p {
  margin-bottom: 0;
}
.hypothesis {
  color: #5a5a5a; /*gray 60*/
  clear: both;
  float: left;
}

.dropdown {
  width: 125% !important;
}

#dropdownMenu1 {
  margin-bottom: 2em;
}

.error-row {
  padding-left: 1em;
  padding-right: 1em;
  display: none;
  background-color: #d74108;
  color: white;
}

.error-row a {
  color: white;
  margin-bottom: 0.2em;
}

.notification-row {
  padding-left: 1em;
  padding-right: 1em;
  display: none;
  border-bottom: 2px solid #ececec;
  background-color: #d74108;
  color: black;
}
.notification-row a {
  color: black;
  margin-bottom: 0.2em;
}

#progressIndicator {
  visibility: hidden;
}

progress::-moz-progress-bar { background: #5596E6; }
progress::-webkit-progress-bar { background: #5596E6; }


#metadataTable th {
  padding: 0.5em !important;
}

#metadataTableBody td {
  padding: 0 !important;
}

.alt-hypothesis hr {
  margin-bottom: 0 !important;
}

progress {
  display: none
}

.nav-label {
  color: white;
}

/* numbered bullets solution from: */
/* http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/ */
ol {
    counter-reset:li;
    margin-left:0;
    padding-left:0;
    margin-top: 1em;
}
ol > li {
    position:relative;
    margin: 0 0 6px 2em; /* Make room for numbers */
    padding: 4px 8px 4px 12px; /* Add some spacing around the content */
    list-style:none;
    vertical-align: middle;
}

ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    left: -2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width: 2em;
    margin-right: 8px;
    padding: 4px;
    color: #fff;
    background: #325c80;
    border-radius: 50%;
    /* top: 1em; */
    /* font-weight:bold; */
    text-align:center;
}

li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

.service-icon {
  width: 100%;
}
