/* general styles */
.base--hr {
    margin-top: 1em;
}

/* Speaker View styles */
.speaker-labels dt {
    font-weight: bold;
    display: inline;
}
.speaker-labels dd {
    display: inline;
}

/* JSONView styles */
.jsonview .options > div {
    display: inline-block;
}
.jsonview .options > div > div {
    display: inline-block;
    margin-right: 1em;
}
.jsonview .options div:before {
    display: none;
}
.jsonview .results--json {
    display: inline-block;
}

