.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #a67f59;
    background: hsla(0,0%,100%,.5);
}

.token.function {
    color: rgb(248, 162, 4);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}


.token.regex,
.token.important {
    color: #e90;
}

.token.important {
    font-weight: bold;
}

.token.entity {
    cursor: help;
}