.main-body {
    margin-bottom: 20px;
    float: right;
}
@media screen and (max-width: 1400px) {
    .main-body {
        max-width: 85%;
    }
}
@media screen and (max-width: 1280px) {
    .main-body {
        max-width: 80%;
    }
}
@media screen and (max-width: 1205px) {
    .main-body {
        max-width: 75%;
    }
}
@media screen and (max-width: 1024px) {
    .main-body {
        max-width: 70%;
    }
}
@media screen and (max-width: 1000px) {
    .fixed-nav {
        display:none;
    }
    .main-body {
        max-width: 100%;
    }
}